.ipynb_checkpoints
.ipynb_checkpoints/
.venv
*.env

*.lnk
*.csv
*.xlsx
*.docx

ETL_Orable_To_BQ
UserManual.docx
etl_config_transaction.db
etl_config_transaction.sqbpro
settings.py
template-job
etl_web_admin
DailyExportedTable.ipynb

